<h1>{{ name }}</h1>

<dl>
  <dt>Nombre:</dt>
  <dd>{{ name }}</dd>

  <dt>Edad:</dt>
  <dd>{{ age }}</dd>

  <dt>Método:</dt>
  <dd>{{ getHeroDescription() }}</dd>

  <dt>Capitalizado:</dt>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
  *ngIf="name !== 'Mauricio'"
  class="btn btn-danger"
  (click)="changeName()"
>
  Cambiar Nombre
</button>
<button
  *ngIf="age !== 24"
  class="btn btn-danger mx-2"
  (click)="changeAge()"
>
  Cambiar Edad
</button>

<button class="btn btn-danger" (click)="resetValues()">
  Resetear
</button>
